@model MvcjQueryTest.Models.jobdetail

@{
    ViewBag.Title = "Add Job";
}
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnSave").click(function () {
            var JobModel = {
                Task_Name: $("#taskName").val(),
                Description: $("#description").val(),
                Date_Started: $("#dateStarted").val(),
                Date_Finished: $("#dateFinished").val(),
                Status: $("#status").val()
            };
            $.ajax({
                type: "POST",
                url: "/Home/AddJob",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({ job: JobModel }),
                success: function (response) {
                    window.location.href = "/Home/Index"
                }
            });
        });
    });
</script>



    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.JobID)

        <div class="form-group">
            @Html.LabelFor(model => model.Task_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Task_Name, new { htmlAttributes = new { @class = "form-control", @id="taskName" } })
                @Html.ValidationMessageFor(model => model.Task_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @id="description" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date_Started, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date_Started, new { htmlAttributes = new { @class = "form-control",@id="dateStarted", @type = "date" } })
                @Html.ValidationMessageFor(model => model.Date_Started, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date_Finished, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date_Finished, new { htmlAttributes = new { @class = "form-control",@id="dateFinished", @type = "date" } })
                @Html.ValidationMessageFor(model => model.Date_Finished, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", @id="status"} })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="DivSave">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" id="btnSave" class="btn btn-default" />
            </div>
        </div>
    </div>

